<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="commentMapper">

    <!-- 코멘트 resultMap -->
    <resultMap id="resultList" type="comment">
	    <result property="commentId" column="COMMENT_ID" />
		<result property="content" column="CONTENT" />
		<result property="createdAt" column="CREATED_AT" />
		<result property="updatedAt" column="UPDATED_AT" />
		<result property="logId" column="LOG_ID" />
		<result property="vocId" column="VOC_ID" />
		<result property="userId" column="USER_ID"/>
    </resultMap>
    
    <!-- voc 댓글 조회 -->
    <select id="getVocComment" parameterType="Long" resultMap="resultList">
    	select * 
    	from tb_comment
    	where VOC_ID = #{vocId}
    </select>
    
</mapper>