<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="planMapper">

    <resultMap type="Plan" id="resultVO">
        <result property="planId" column="PLAN_ID" />
        <result property="planTitle" column="PLAN_TITLE" />
        <result property="planPlace" column="PLAN_PLACE" />
        <result property="planStartDate" column="PLAN_START_DATE" jdbcType="DATE"/>
        <result property="planEndDate" column="PLAN_END_DATE"  jdbcType="DATE" />
    </resultMap>

    <!-- plan 페이지 조회 -->
    <select id="getPlanPage" parameterType="hashMap" resultMap="resultVO">
        SELECT PLAN_ID, PLAN_TITLE, PLAN_PLACE, PLAN_START_DATE, PLAN_END_DATE
        FROM (SELECT ROWNUM RNUM, PLAN_ID, PLAN_TITLE, PLAN_PLACE, PLAN_START_DATE, PLAN_END_DATE
              FROM TB_PLAN
              left join TB_USER_PL UP using(PLAN_ID)
              where up.user_id = #{userId})
        WHERE RNUM BETWEEN #{ paging.startRow } AND #{ paging.endRow }
        order by PLAN_START_DATE desc, PLAN_END_DATE desc
    </select>

    <!-- plan 개수 조회 -->
    <select id="countPlan" parameterType="string" resultType="_int">
        select count(*)
        from TB_PLAN
        left join TB_USER_PL UP using(PLAN_ID)
        where up.user_id = #{userId}
    </select>

    <!-- plan 단일 조회 -->
    <select id="getPlanById" parameterType="Long" resultMap="resultVO">
        select PLAN_ID, PLAN_TITLE, PLAN_PLACE, PLAN_START_DATE, PLAN_END_DATE
        from TB_PLAN
        where plan_id = #{planId}
    </select>

    <!-- plan 생성 -->
    <insert id="insertPlan" parameterType="Plan" useGeneratedKeys="true" keyColumn="PLAN_ID" keyProperty="planId">
        insert into TB_PLAN (PLAN_TITLE, PLAN_PLACE, PLAN_START_DATE, PLAN_END_DATE) values (#{planTitle},#{planPlace}, #{planStartDate},#{planEndDate})
    </insert>

    <update id="updatePlan" parameterType="Plan" useGeneratedKeys="true" keyColumn="PLAN_ID" keyProperty="planId">
        update TB_PLAN set PLAN_TITLE = #{planTitle}, PLAN_PLACE = #{planPlace}, PLAN_START_DATE = #{planStartDate}, PLAN_END_DATE = #{planEndDate}
        where PLAN_ID = #{planId}
    </update>

    <!-- plan 삭제 -->
    <delete id="deletePlan" parameterType="long">
        delete from TB_PLAN where plan_id = #{planId}
    </delete>

</mapper>