@charset "UTF-8";

@import url(fontawesome-all.min.css);

@import
	url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900")
	;

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, hgroup, nav, output, ruby, section,
	summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, hgroup, nav, section {
	display: block;
}

body {
	line-height: 1;
	width: 100%;
	height: 100%
}

body {
	-webkit-text-size-adjust: none;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* Basic */
-ms-viewport {
	width: device-width;
}

body {
	-ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {
	html, body {
		min-width: 320px;
	}
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: #ffffff;
}

body.is-preload *, body.is-preload *:before, body.is-preload *:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
	width: 100%;
	height: 100%;
}

/* Type */
body, input, select, textarea {
	color: #585858;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 16pt;
	font-weight: 300;
	line-height: 1.75;
}

@media screen and (max-width: 1680px) {
	body, input, select, textarea {
		font-size: 14pt;
	}
}

@media screen and (max-width: 1280px) {
	body, input, select, textarea {
		font-size: 12pt;
	}
}

a {
	-moz-transition: border-bottom-color 0.2s ease, color 0.2s ease;
	-webkit-transition: border-bottom-color 0.2s ease, color 0.2s ease;
	-ms-transition: border-bottom-color 0.2s ease, color 0.2s ease;
	transition: border-bottom-color 0.2s ease, color 0.2s ease;
	text-decoration: none;
	color: #585858;
	border-bottom: dotted 1px rgba(88, 88, 88, 0.5);
}

a:hover {
	border-bottom-color: transparent;
	color: #f2849e !important;
}

strong, b {
	font-weight: 900;
}

em, i {
	font-style: italic;
}

p {
	margin: 0 0 2em 0;
}

h1 {
	font-size: 2.75em;
	font-weight: 700;
	line-height: 1.3;
	margin: 0 0 1em 0;
	letter-spacing: -0.035em;
}

h1 a {
	color: inherit;
}

@media screen and (max-width: 736px) {
	h1 {
		font-size: 2em;
		margin: 0 0 1em 0;
	}
}

@media screen and (max-width: 360px) {
	h1 {
		font-size: 1.75em;
	}
}

h2 {
	font-weight: 900;
	line-height: 1.5;
	margin: 0 0 2em 0;
	text-transform: uppercase;
	letter-spacing: 0.35em;
}

h2 a {
	color: inherit;
}

h2 {
	font-size: 1.1em;
}

@media screen and (max-width: 980px) {
	h1 br {
		display: none;
	}
}

@media screen and (max-width: 736px) {
	h2 {
		font-size: 1em;
	}
}

sub {
	font-size: 0.8em;
	position: relative;
	top: 0.5em;
}

sup {
	font-size: 0.8em;
	position: relative;
	top: -0.5em;
}

blockquote {
	border-left: solid 4px #c9c9c9;
	font-style: italic;
	margin: 0 0 2em 0;
	padding: 0.5em 0 0.5em 2em;
}

code {
	background: rgba(144, 144, 144, 0.075);
	border-radius: 4px;
	border: solid 1px #c9c9c9;
	font-family: "Courier New", monospace;
	font-size: 0.9em;
	margin: 0 0.25em;
	padding: 0.25em 0.65em;
}

pre {
	-webkit-overflow-scrolling: touch;
	font-family: "Courier New", monospace;
	font-size: 0.9em;
	margin: 0 0 2em 0;
}

pre code {
	display: block;
	line-height: 1.75;
	padding: 1em 1.5em;
	overflow-x: auto;
}

hr {
	border: 0;
	border-bottom: solid 1px #c9c9c9;
	margin: 2em 0;
}

hr.major {
	margin: 3em 0;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

/* Icon */
.icon {
	text-decoration: none;
	border-bottom: none;
	position: relative;
}

.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	text-transform: none !important;
	font-family: 'Font Awesome 5 Free';
	font-weight: 400;
}

.icon>.label {
	display: none;
}

.icon:before {
	line-height: inherit;
}

.icon.solid:before {
	font-weight: 900;
}

.icon.brands:before {
	font-family: 'Font Awesome 5 Brands';
}

.icon.style2 {
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s
		ease-in-out, border-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s
		ease-in-out, border-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s
		ease-in-out, border-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
		border-color 0.2s ease-in-out;
	background-color: transparent;
	border: solid 1px #c9c9c9;
	border-radius: 4px;
	width: 2.65em;
	height: 2.65em;
	display: inline-block;
	text-align: center;
	line-height: 2.65em;
	color: inherit;
}

.icon.style2:before {
	font-size: 1.1em;
}

button#title:hover {
	color: #E96A18;
	border-color: #E96A18;
}

.icon.style2:active {
	background-color: rgba(242, 132, 158, 0.1);
}

input[type="text"], input[type="password"], input[type="email"], input[type="tel"],
	select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	background-color: transparent;
	border: none;
	border-radius: 0;
	border-bottom: solid 1px #c9c9c9;
	color: inherit;
	display: block;
	outline: 0;
	padding: 0;
	text-decoration: none;
	width: 100%;
}

input[type="text"]:invalid, input[type="password"]:invalid, input[type="email"]:invalid,
	input[type="tel"]:invalid, select:invalid, textarea:invalid {
	box-shadow: none;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus,
	input[type="tel"]:focus, select:focus, textarea:focus {
	border-bottom-color: #f2849e;
	box-shadow: inset 0 -1px 0 0 #f2849e;
}

select {
	background-image:
		url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='%23c9c9c9' /%3E%3C/svg%3E");
	background-size: 1.25rem;
	background-repeat: no-repeat;
	background-position: calc(100% - 1rem) center;
	height: 3em;
	padding-right: 3em;
	text-overflow: ellipsis;
}

select option {
	background: #ffffff;
}

select:focus::-ms-value {
	background-color: transparent;
}

select::-ms-expand {
	display: none;
}

input[type="text"], input[type="password"], input[type="email"], select
	{
	height: 3em;
}

textarea {
	padding: 0;
	min-height: 3.75em;
}

input[type="checkbox"], input[type="radio"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	display: block;
	float: left;
	margin-right: -2em;
	opacity: 0;
	width: 1em;
	z-index: -1;
}

input[type="checkbox"]+label, input[type="radio"]+label {
	text-decoration: none;
	color: #585858;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	font-weight: 300;
	padding-left: 2.55em;
	padding-right: 0.75em;
	position: relative;
}

input[type="checkbox"]+label:before, input[type="radio"]+label:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	text-transform: none !important;
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
}

input[type="checkbox"]+label:before, input[type="radio"]+label:before {
	border-radius: 4px;
	border: solid 1px #c9c9c9;
	content: '';
	display: inline-block;
	font-size: 0.8em;
	height: 2.25em;
	left: 0;
	line-height: 2.25em;
	position: absolute;
	text-align: center;
	top: 0;
	width: 2.25em;
}

input[type="checkbox"]:checked+label:before, input[type="radio"]:checked+label:before
	{
	background: #585858;
	border-color: #585858;
	color: #ffffff;
	content: '\f00c';
}

input[type="checkbox"]:focus+label:before, input[type="radio"]:focus+label:before
	{
	border-color: #f2849e;
	box-shadow: 0 0 0 1px #f2849e;
}

input[type="checkbox"]+label:before {
	border-radius: 4px;
}

input[type="radio"]+label:before {
	border-radius: 100%;
}

/* Box */
.box {
	border-radius: 4px;
	border: solid 1px #c9c9c9;
	margin-bottom: 2em;
	padding: 1.5em;
}

.box>:last-child, .box>:last-child>:last-child, .box>:last-child>:last-child>:last-child
	{
	margin-bottom: 0;
}

.box.alt {
	border: 0;
	border-radius: 0;
	padding: 0;
}

/* Image */
.image {
	border-radius: 4px;
	border: 0;
	display: inline-block;
	position: relative;
}

.image img {
	border-radius: 4px;
	display: block;
}

.image.left, .image.right {
	max-width: 40%;
}

.image.left img, .image.right img {
	width: 100%;
}

.image.left {
	float: left;
	padding: 0 1.5em 1em 0;
	top: 0.25em;
}

.image.right {
	float: right;
	padding: 0 0 1em 1.5em;
	top: 0.25em;
}

.image.fit {
	display: block;
	margin: 0 0 2em 0;
	width: 100%;
}

.image.fit img {
	width: 100%;
}

.image.main {
	display: block;
	margin: 0 0 3em 0;
	width: 100%;
}

.image.main img {
	width: 100%;
}

@media screen and (max-width: 736px) {
	.image.main {
		margin: 0 0 2em 0;
	}
}

/* Button */
input[type="submit"], input[type="reset"], input[type="button"], button,
	.button {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s
		ease-in-out, box-shadow 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s
		ease-in-out, box-shadow 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s
		ease-in-out, box-shadow 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
		box-shadow 0.2s ease-in-out;
	background-color: transparent;
	border-radius: 4px;
	box-shadow: inset 0 0 0 2px #585858;
	color: #585858 !important;
	cursor: pointer;
	display: inline-block;
	font-size: 0.8em;
	font-weight: 900;
	height: 3.5em;
	letter-spacing: 0.35em;
	line-height: 3.45em;
	overflow: hidden;
	padding: 0 1.25em 0 1.6em;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
	text-transform: uppercase;
	white-space: nowrap;
}

input[type="submit"].icon:before, input[type="reset"].icon:before, input[type="button"].icon:before,
	button.icon:before, .button.icon:before {
	margin-right: 0.5em;
}

input[type="submit"].fit, input[type="reset"].fit, input[type="button"].fit,
	button.fit, .button.fit {
	width: 100%;
}

 input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover,
	button.title:hover, button.prevBtn:hover, button.nextBtn:hover  {
	color: #E96A18 !important;
	/* box-shadow: inset 0 0 0 2px #E96A18; */
}

button.prevBtn:hover, button.nextBtn:hover {
	box-shadow: inset 0 0 0 2px #E96A18;
}


input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active,
	button.title:active, button.prevBtn:active, button.nextBtn:active {
	background-color: rgba(242, 132, 158, 0.1);
}

input[type="submit"].small, input[type="reset"].small, input[type="button"].small,
	button.small, .button.small {
	font-size: 0.6em;
}

input[type="submit"].large, input[type="reset"].large, input[type="button"].large,
	button.large, .button.large {
	font-size: 1em;
}

input[type="submit"].primary, input[type="reset"].primary, input[type="button"].primary,
	button.primary, .button.primary {
	box-shadow: none;
	background-color: #585858;
	color: #ffffff !important;
}

input[type="submit"].primary:hover, input[type="reset"].primary:hover,
	input[type="button"].primary:hover, button.primary:hover, .button.primary:hover
	{
	background-color: #E96A18;
}

input[type="submit"].primary:active, input[type="reset"].primary:active,
	input[type="button"].primary:active, button.primary:active, .button.primary:active
	{
	background-color: #E96A18;
}

input[type="submit"].disabled, input[type="submit"]:disabled, input[type="reset"].disabled,
	input[type="reset"]:disabled, input[type="button"].disabled, input[type="button"]:disabled,
	button.disabled, button:disabled, .button.disabled, .button:disabled {
	pointer-events: none;
	opacity: 0.25;
}

/* Tiles */
.tiles {
	display: flex;
	flex-wrap: wrap;
	postion: relative;
	flex-direction: column;
	align-content: center;
	width: 1920px;
}

.tiles article {
	-moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
	-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
	-ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
	transition: transform 0.5s ease, opacity 0.5s ease;
	position: relative;
	width: calc(33.33333% - 2.5em);
	margin: 2.5em 0 0 2.5em;
}

.tiles article>.image {
	-moz-transition: -moz-transform 0.5s ease;
	-webkit-transition: -webkit-transform 0.5s ease;
	-ms-transition: -ms-transform 0.5s ease;
	transition: transform 0.5s ease;
	position: relative;
	display: block;
	width: 100%;
	border-radius: 4px;
	overflow: hidden;
}

.tiles article>.image img {
	display: block;
	width: 100%;
}

.tiles article>.image:before {
	pointer-events: none;
	-moz-transition: background-color 0.5s ease, opacity 0.5s ease;
	-webkit-transition: background-color 0.5s ease, opacity 0.5s ease;
	-ms-transition: background-color 0.5s ease, opacity 0.5s ease;
	transition: background-color 0.5s ease, opacity 0.5s ease;
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1.0;
	z-index: 1;
	opacity: 0.8;
}

.tiles article>.image:after {
	pointer-events: none;
	-moz-transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image:
		url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	opacity: 0.25;
	z-index: 2;
}

.tiles article>a {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-moz-transition: background-color 0.5s ease, -moz-transform 0.5s ease;
	-webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s
		ease;
	-ms-transition: background-color 0.5s ease, -ms-transform 0.5s ease;
	transition: background-color 0.5s ease, transform 0.5s ease;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 1em;
	border-radius: 4px;
	border-bottom: 0;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	z-index: 3;
}

.tiles article>a>:last-child {
	margin: 0;
}

.tiles article>a:hover {
	color: #ffffff !important;
}

.tiles article>a h2 {
	margin: 0;
}

.tiles article>a .content {
	-moz-transition: max-height 0.5s ease, opacity 0.5s ease;
	-webkit-transition: max-height 0.5s ease, opacity 0.5s ease;
	-ms-transition: max-height 0.5s ease, opacity 0.5s ease;
	transition: max-height 0.5s ease, opacity 0.5s ease;
	width: 100%;
	max-height: 0;
	line-height: 1.5;
	margin-top: 0.35em;
	opacity: 0;
}

.tiles article>a .content>:last-child {
	margin-bottom: 0;
}

.tiles article.style1>.image:before {
	background-color: #f2849e;
}

.tiles article.style2>.image:before {
	background-color: #7ecaf6;
}

.tiles article.style3>.image:before {
	background-color: #7bd0c1;
}

.tiles article.style4>.image:before {
	background-color: #c75b9b;
}

.tiles article.style5>.image:before {
	background-color: #ae85ca;
}

.tiles article.style6>.image:before {
	background-color: #8499e7;
}

body:not(.is-touch) .tiles article:hover>.image {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

body:not(.is-touch) .tiles article:hover>.image:before {
	background-color: #333333;
	opacity: 0.35;
}

body:not(.is-touch) .tiles article:hover>.image:after {
	opacity: 0;
}

body:not(.is-touch) .tiles article:hover .content {
	max-height: 15em;
	opacity: 1;
}

*+.tiles {
	margin-top: 2em;
}

body.is-preload .tiles article {
	-moz-transform: scale(0.9);
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0;
}

body.is-touch .tiles article .content {
	max-height: 15em;
	opacity: 1;
}

@media screen and (max-width: 1280px) {
	.tiles {
		margin: -1.25em 0 0 -1.25em;
	}
	.tiles article {
		width: calc(33.33333% - 1.25em);
		margin: 1.25em 0 0 1.25em;
	}
}

@media screen and (max-width: 980px) {
	.tiles {
		margin: -2.5em 0 0 -2.5em;
	}
	.tiles article {
		width: calc(50% - 2.5em);
		margin: 2.5em 0 0 2.5em;
	}
}

@media screen and (max-width: 736px) {
	.tiles {
		margin: -1.25em 0 0 -1.25em;
	}
	.tiles article {
		width: calc(50% - 1.25em);
		margin: 1.25em 0 0 1.25em;
	}
	.tiles article:hover>.image {
		-moz-transform: scale(1.0);
		-webkit-transform: scale(1.0);
		-ms-transform: scale(1.0);
		transform: scale(1.0);
	}
}

@media screen and (max-width: 480px) {
	.tiles {
		margin: 0;
	}
	.tiles article {
		width: 100%;
		margin: 1.25em 0 0 0;
	}
}

/* Main */
#main {
	padding: 0em 0 6em 0;
}

@media screen and (max-width: 736px) {
	#main {
		padding: 0em 0 4em 0;
	}
}

/* inner */
.inner {
	display: flex;
	width: 1920px;
	max-width: 68em;
	margin: 0 auto;
	padding: 0 2.5em;
	flex-direction: column;
	align-content: center;
	flex-wrap: wrap;
	align-items: center;
}

.inner #logo {
	width: 298px;
	height: 133px;
	left: 50%;
}

@media screen and (max-width: 736px) {
	.inner {
		padding: 0 1.25em;
	}
}

#top3 {
	width: 1920px;
	margin: 0 auto;
}

/* title */
button.title {
	margin-left: 16%; color : #E96A18;
	background: none;
	border: none;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 16pt;
	font-weight: 500;
	line-height: 1.75;
	box-shadow: none;
	color: #E96A18;
}

hr.titlehr {
	margin-left: 17% !important;
	width: 25%;
	margin-left: 0;
	margin-right: auto;
	border: none;
	border-top: 2px solid #585858;
	margin-top: -10px;
	margin-bottom: -2px;
}

/* ------------------ 슬라이더 관련 -------------*/
.carouselWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin: 10px 5px 0px;
	width: 1600px;
}

#logDiv {
	justify-content: center;
	width: 1700px;
}

#accoDiv {
	justify-content: center;
	width: 1700px;
}

#restDiv {
	justify-content: center;
	width: 1700px;
}

#attrDiv {
	justify-content: center;
	width: 1700px;
}

.sliderTrack {
	display: flex;
	gap: 20px;
	transition: transform 0.5s ease-in-out; /* ← 이게 핵심! */
	width: 100%;
	height: 380px;
	margin: auto;
	justify-content: space-evenly;
	align-items: center;
}

.sliderTrack article {
	flex: 0 0 300px;
	box-sizing: border-box;
	margin: 5px 15px 5px 15px;
	display: flex;
	flex-direction: column; /* 수직 레이아웃 */
	justify-content: center; /* 수직 가운데 정렬 */
	align-items: center; /* 수평 가운데 정렬(필요 시) */
}

.sliderTrack article a {
	margin: 5px 15px 5px 15px;
}

.sliderOuter {
	overflow: hidden;
	width: 1050px;
}

.prevBtn, .nextBtn {
	background: none;
	border: none;
	font-size: 1rem;
	cursor: pointer;
	user-select: none;
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 5px;
}

/* ------------- 검색창 -------------*/
.search-box #category {
	width: 100px;
	border: none;
	font-size: 16px;
}

.search-box {
	display: flex;
	align-items: center;
	height: 50px;
	width: 450px;
	padding: 0 10px;
	box-sizing: border-box;
	background: #fff;
	border: 1px solid #E96A18;
	border-radius: 40px;
	margin-bottom: 0;
	overflow: auto;
}

.search-txt {
	border-width: 0;
	flex: 1;
	border: none;
	font-size: 16px;
	color: #585858;
	height: 100%;
	line-height: 1;
	padding: 0;
	background: none;
}

.search-btn {
	flex: 0 0 auto;
	width: 40px;
	height: 40px;
	border: none ;
	background: none;
	color: #E96A18;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	box-shadow: none;
}

.search-btn>img {
	width: 30px;
	height: 30px;
	color: #585858;
	border: none;
	
}