@charset "UTF-8";
#logFilter {
    padding: 6px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* --- 갤러리 스타일 --- */
#logGallery {
    width: 900px;  /*폭 제한.  1200px가 이거를 계속 줄여봐요.900까지  */
    margin: 0 auto; /*가운데 정렬*/
    padding: 20px;  /*여백*/
}

.galleryGrid {
    display :grid;  /*grid대신 flex로changed */
    flex-wrap:wrap;
   /* 한줄로보임  grid-template-columns : reapeat(auto-fill, minmax(360px,1fr));  /*반응형*/
    grid-template-columns: repeat(3, 1fr); /* 3개씩 가로 정렬 */
    gap: 20px;
    justify-content: center;
}

/* 카드 스타일 */
.galleryItem {
	/*width: calc((100%-40px)/3); /*3개 +gap 보정(20px *2 ) */
    position: relative;
    overflow: hidden;
    background-color: #e0e0e0;
    border-radius: 10px;
  	margin:0;  /*개별카드도중앙 */
    width: 300px;
    height: 300px;
    display: block; /* inline 요소 특유의 여백(whitespace gap)** 제거 */
    transition: transform 0.4s ease;
}

.galleryItem img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이게 핵심 */
    object-position: center;  /* 이미지 중심 기준으로 자름 */
    transition: transform 0.4s ease; /* 부드러운 확대 */
    display: block; /* inline 요소 특유의 여백(whitespace gap)** 제거 */
}

/* 오버레이 스타일 */
.galleryItem .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s ease;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

/* Hover 효과 */
.galleryItem:hover img {
    transform: scale(1.1); /* 이미지 확대 */
}

.galleryItem:hover .overlay {
    opacity: 1;
}

.overlay h3 {
    margin: 5px 0;
    font-size: 18px;
}

.overlay p {
    margin: 3px 0;
    font-size: 14px;
}